<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="C:\Users\ashwath.kumar\Desktop\Impelsys-Hotel\src\app\accomodation\accomodation.component.css">
  <title>Excursions at Impelsys</title>
</head>

<body style="background-color:rgb(223, 239, 241);">
 <div class="container my-4">
 
          <div class="card-body d-flex flex-column align-items-start">
            <div id="Celeblogo">
            <h2 class="mb-0">
             
              <a class="text-dark" routerLink="/rooms"> 1. Dudhsagar Falls</a>
             
            </h2>
        </div>
            <p class="card-text mb-auto">
              <p><br>&emsp;Dudhsagar Falls (lit. 'Sea of Milk') is a four-tiered waterfall located on the Mandovi River in the Indian state of Goa. It is 60 km from Panaji by road and is located on the Belgavi–Vasco Da Gama rail route about 46 km east of Madgaon and 80 km south of Belgavi. </p>
           <div id="Accomlogo"> 
              <img src="../../assets/images/excursion2.jpg" 
              height=450px
              width=700px>
    
            </div>
          </div>

          <div class="card-body d-flex flex-column align-items-start">
            <div id="Celeblogo">
            <h2 class="mb-0">
              <a class="text-dark" routerLink="/rooms">2. Palolem Beach</a>
            </h2>
           </div>
            <p class="card-text mb-auto"></p>
            <p>&emsp;<br>Palolem Beach is situated in Canacona in southern Goa, India. The beach attracts many international tourists, mainly during the winter season between November and March. It is considered to be one of the region's most beautiful beaches.</p>
           

          
          </div>
          <div id="Accomlogo"> 
          <img src="../../assets/images/excursion3.jpg"
          height=450px
              width=800px >
        </div>
      </div>
  <div class="container my-4">


    
          <div class="card-body d-flex flex-column align-items-start">
            <div id="Celeblogo">
            <h2 class="mb-0">
              <a class="text-dark" routerLink="/rooms">3. Basilica of Bom Jesus</a>
            </h2>
            </div>
            <p class="card-text mb-auto"></p>

            <p>&emsp;<br>The Basilica of Bom Jesus (Portuguese: Basílica do Bom Jesus; Konkani: Borea Jezuchi Bajilika) is a Roman Catholic basilica located in the Goa state, situated in the Konkan region of India. It is both a pilgrimage centre and also the most iconic monument of all the churches and convents of Goa, recognised by UNESCO as a World Heritage Site.</p>
            
          </div>
          <div id="Accomlogo"> 
          <img src="../../assets/images/excursion4.jpg"
          height=450px
          width=800px >
        </div>
       
    
      <div class="container my-4">
          <div class="card-body d-flex flex-column align-items-start">
            <div id="Celeblogo">
            <h2 class="mb-0">
              <a class="text-dark" routerLink="/rooms">4. Aguada Fort </a>
            </h2>
            </div>
            <p class="card-text mb-auto"></p>
            <p>&emsp;<br>Fort Aguada is a well-preserved seventeenth-century Portuguese fort, along with a lighthouse, standing in Goa, India, on Sinquerim Beach, overlooking the Arabian Sea. It is an ASI protected Monument of National Importance in Goa.</p>
            
          </div>
          <div id="Accomlogo"> 
          <img src="../../assets/images/excursion5.jpg"
          height=450px
          width=800px >
      </div>
  </div>
  <div class="container my-4">

  
    
      
        
    <div class="card-body d-flex flex-column align-items-start">
        <div id="Celeblogo">
      <h2 class="mb-0">
        <a class="text-dark" routerLink="/rooms">5. Se Cathrdral</a>
      </h2>
      </div>
      <p class="card-text mb-auto">
        <p>&emsp;<br>The Sé Catedral de Santa Catarina, known as Se Cathedral, is the cathedral of the Latin Rite Roman Catholic Archdiocese of Goa and Daman and the seat of the Patriarch of the East Indies. It is part of the World Heritage Site, Churches and convents of Goa located in Old Goa, India..</p>
     <div id="Accomlogo"> 
        <img src="../../assets/images/excursion6.jpg" 
        height=450px
        width=800px>
       
        
      </div>
    </div>

   
  


    <div class="card-body d-flex flex-column align-items-start">
        <div id="Celeblogo">
      <h2 class="mb-0">
        <a class="text-dark" routerLink="/rooms">6. Baga Beach</a>
      </h2>
     </div>
      <p class="card-text mb-auto"></p>
      <p>&emsp;<br>Baga a seaside town in Bardez, Goa, India. It comes under the jurisdiction of Calangute, which is 2 km south. Baga is known for its popular beach and Baga Creek. It is visited by thousands of tourists annually..</p>
     

    
    </div>
    <div id="Accomlogo"> 
    <img src="../../assets/images/excursion7.jpg"
    height=450px
        width=800px >
  </div>
</div>
<div class="container my-4">
  
  <div class="card-body d-flex flex-column align-items-start">
    <div id="Celeblogo">
    <h2 class="mb-0">
      <a class="text-dark" routerLink="/rooms">7. Chapora Fort</a>
    </h2>
    </div>
    <p class="card-text mb-auto">
      <p>&emsp;<br>Chapora Fort (Devanagari: शापोरा), located in Bardez, Goa, rises high above the Chapora River. The site was the location of a fort built by Muslim ruler Adil Shah called Shahpura, whose name the Portuguese altered to Chapora. It is now become a popular tourist spot and offers a view north across the Chapora river to Pernem, south over Vagator and also far out to the Arabian Sea in the West..</p>
   <div id="Accomlogo"> 
      <img src="../../assets/images/excursion8.jpg" 
      height=450px
      width=800px>
     
      
    </div>
  </div>

 
  </div>
   
</div>
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>Download our App for Android and ios mobile phone.</p>
              <div class="app-logo">
                  <img src="../../assets/images/googleapp.jpg">
                  
              </div>
          </div>
          <div class="footer-col-2">
              <img src="../../assets/images/theahotel_logo.png">
              <p>Our Purpose is to sustainability make the pleasure and 
                  benefits of luxury Accessible to many.</p>
          </div>
          <div class="footer-col-3">
              <h3>Useful Links</h3>
              <ul>
                  <li>Coupons</li>
                  <li>Blog Post</li>
                  <li>Return Policy</li>
                  <li>Join Affiliate</li>
              </ul>
          </div>
          <div class="footer-col-4">
              <h3>Follow us</h3>
              <ul>
                  <li>Meta</li>
                  <li>Twitter</li>
                  <li>Instagram</li>
                  <li>Youtube</li>
              </ul>
          </div>
      </div>
      <hr>
      <p class="copyright">Copyright 2021-Impelsys</p>
  </div>
</div>


</body>

</html>