<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="C:\Users\ashwath.kumar\Desktop\Impelsys-Hotel\src\app\accomodation\accomodation.component.css">
  <title>Excursions at Impelsys</title>
</head>


<body style="background-color:rgb(223, 239, 241);">
 <div class="container my-4">
 
          <div class="card-body d-flex flex-column align-items-start">
            <div id="Celeblogo">
            <h2 class="mb-0">
             
              <a class="text-dark" routerLink="/rooms"> 1. Resort Over-view</a>
             
            </h2>
        </div>
            <p class="card-text mb-auto">
           <div id="Accomlogo"> 
              <img src="../../assets/images/resort2.jpg" 
              height=450px
              width=800px>
    
            </div>
          </div>

          <div class="card-body d-flex flex-column align-items-start">
            <div id="Celeblogo">
            <h2 class="mb-0">
              <a class="text-dark" routerLink="/rooms">2. Resort Front-view</a>
            </h2>
           </div>
            <p class="card-text mb-auto"></p>
           

          
          </div>
          <div id="Accomlogo"> 
          <img src="../../assets/images/resort3.webp"
          height=450px
              width=800px >
        </div>
      </div>
  <div class="container my-4">


    
          <div class="card-body d-flex flex-column align-items-start">
            <div id="Celeblogo">
            <h2 class="mb-0">
              <a class="text-dark" routerLink="/rooms">3. Swimming Pool</a>
            </h2>
            </div>
            <p class="card-text mb-auto"></p>

          
          </div>
          <div id="Accomlogo"> 
          <img src="../../assets/images/resort4.jpg"
          height=450px
          width=800px >
        </div>
       
    
      <div class="container my-4">
          <div class="card-body d-flex flex-column align-items-start">
            <div id="Celeblogo">
            <h2 class="mb-0">
              <a class="text-dark" routerLink="/rooms">4. Living Rooms </a>
            </h2>
            </div>
            <p class="card-text mb-auto"></p>
            
          </div>
          <div id="Accomlogo"> 
          <img src="../../assets/images/resort5.jpg"
          height=450px
          width=800px >
      </div>
  </div>
  <div class="container my-4">

  
    
      
        
    <div class="card-body d-flex flex-column align-items-start">
        <div id="Celeblogo">
      <h2 class="mb-0">
        <a class="text-dark" routerLink="/rooms">5. Fun-Activities</a>
      </h2>
      </div>
      <p class="card-text mb-auto">
        
     <div id="Accomlogo"> 
        <img src="../../assets/images/resort6.jpg" 
        height=450px
        width=800px>
       
        
      </div>
    </div>

   
  


    <div class="card-body d-flex flex-column align-items-start">
        <div id="Celeblogo">
      <h2 class="mb-0">
        <a class="text-dark" routerLink="/rooms">6. Sunset Point</a>
      </h2>
     </div>
      <p class="card-text mb-auto"></p>
      

    
    </div>
    <div id="Accomlogo"> 
    <img src="../../assets/images/resort7.webp"
    height=450px
        width=800px >
  </div>
</div>
<div class="container my-4">
  
  <div class="card-body d-flex flex-column align-items-start">
    <div id="Celeblogo">
    <h2 class="mb-0">
      <a class="text-dark" routerLink="/rooms">7. Lawn</a>
    </h2>
    </div>
    <p class="card-text mb-auto">
      
   <div id="Accomlogo"> 
      <img src="../../assets/images/resort8.jpg" 
      height=450px
      width=800px>
     
      
    </div>
  </div>
  <div class="container my-4">
    <div class="card-body d-flex flex-column align-items-start">
      <div id="Celeblogo">
      <h2 class="mb-0">
        <a class="text-dark" routerLink="/rooms">8. Toilets </a>
      </h2>
      </div>
      <p class="card-text mb-auto"></p>
      
    </div>
    <div id="Accomlogo"> 
    <img src="../../assets/images/resort9.jpg"
    height=450px
    width=800px >
</div>
</div>
<div class="container my-4">
  <div class="card-body d-flex flex-column align-items-start">
    <div id="Celeblogo">
    <h2 class="mb-0">
      <a class="text-dark" routerLink="/rooms">9. Dining </a>
    </h2>
    </div>
    <p class="card-text mb-auto"></p>
    
  </div>
  <div id="Accomlogo"> 
  <img src="../../assets/images/resort10.webp"
  height=450px
  width=800px >
</div>
</div>
<div class="container my-4">
  <div class="card-body d-flex flex-column align-items-start">
    <div id="Celeblogo">
    <h2 class="mb-0">
      <a class="text-dark" routerLink="/rooms">10. Casio </a>
    </h2>
    </div>
    <p class="card-text mb-auto"></p>
    
  </div>
  <div id="Accomlogo"> 
  <img src="../../assets/images/resort11.jpg"
  height=450px
  width=800px >
</div>
</div>

 
  </div>
   
</div>
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>Download our App for Android and ios mobile phone.</p>
              <div class="app-logo">
                  <img src="../../assets/images/googleapp.jpg">
                  
              </div>
          </div>
          <div class="footer-col-2">
              <img src="../../assets/images/theahotel_logo.png">
              <p>Our Purpose is to sustainability make the pleasure and 
                  benefits of luxury Accessible to many.</p>
          </div>
          <div class="footer-col-3">
              <h3>Useful Links</h3>
              <ul>
                  <li>Coupons</li>
                  <li>Blog Post</li>
                  <li>Return Policy</li>
                  <li>Join Affiliate</li>
              </ul>
          </div>
          <div class="footer-col-4">
              <h3>Follow us</h3>
              <ul>
                  <li>Meta</li>
                  <li>Twitter</li>
                  <li>Instagram</li>
                  <li>Youtube</li>
              </ul>
          </div>
      </div>
      <hr>
      <p class="copyright">Copyright 2021-Impelsys</p>
  </div>
</div>


</body>

</html>