<div class="hero-container">
  <div class="book-now-container">
    <div fxFlex fxLayoutAlign="flex-end">
      <a  routerLink="/rooms">
      <button class="book-now-button" mat-stroked-button color="primary">
        Book Now
      </button> 
    </a>
    </div>
  </div>
  <div class="header-container" flexbox fxLayout="column"  fxLayoutAlign="center center">
      <h2 class="mat-display-1" color="white">Luxury Beach Front Resort</h2>
      <h1 class="mat-display-4" fxFlex="66" [fxFlex.md]="780">Baga  <br />Resort &amp; Spa</h1>
  </div>

  <div class="thailand" fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
    <h3>GOA</h3>
  </div>
  
</div>

<section class="home-section">
  <div class="home-section-header">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div>
        <h2 class="mat-subheading-2 dark-secondary-text">Luxury Accomodation In Goa</h2>
      </div>
      <div>
        <h3 class="mat-subheading-3">Asia's Tropical Paradise</h3>
      </div>
      
      <div>
        <p style="text-align:justify;"class="mat-body-1" fxFlex.gt-xs="70" fxFlexOffset.gt-xs="15">
          Elegant Indo-Portuguese architectural heritage is showcased through Romanesque arches, pillared verandahs and sunny saquãos (central courtyards) at Impelsys Holiday Village Resort & Spa, one of the finest luxury resort in Goa. With the beach on side and cocooned in dense foliage, our 142 terracotta-roof suites and villas in Goa deliver contemporary luxury in the midst of Nature at her most glorious. The resort’s al fresco offerings are as captivating as its stately accommodation. You can savor a three course Thai lunch at Banyan Tree – one of Goa’s top rated Southeast Asian restaurants – after a drink and aperitif at the sunken bar and pool. A workout at the fitness center, a round of tennis or water sports can be topped off with a hedonist massage or facial at our award-winning Jiva Spa. We welcome you at our beach resort in North Goa to unwind and revel in a captivating Goan paradise.
        </p>
      </div>
      
    </div>
  </div>
  
  <div class="rooms-home-display" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <mat-card class="rooms-suites" fxFlex="45%;" fxFlex.sm="100%">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Rooms &amp; Suites</h2>
      </mat-card-header> 
      
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <a  routerLink="/rooms">
        <button mat-raised-button color="primary">Explore</button>
      </a>
      </mat-card-actions>  
    </mat-card>
    <mat-card class="beach-houses" fxFlex="45%;" fxFlex.sm="100%">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Beach Houses</h2>
      </mat-card-header> 
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <a  routerLink="/rooms">
        <button type="button" mat-raised-button color="primary" >Explore</button>
        </a>
      </mat-card-actions>  
    </mat-card>

    <mat-card class="restaurant" fxFlex="45%;" fxFlex.sm="100%">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Restaurants</h2>
      </mat-card-header> 
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <a  routerLink="/restaurant">
          <button type="button" mat-raised-button color="primary" >Explore</button>
          </a>
      </mat-card-actions>  
    </mat-card>
    <mat-card class="bars" fxFlex="45%;" fxFlex.sm="100%">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Bars</h2>
      </mat-card-header> 
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <a  routerLink="/bars">
          <button type="button" mat-raised-button color="primary" >Explore</button>
          </a>
      </mat-card-actions>  
    </mat-card>
    <mat-card class="resorts" fxFlex="45%;" fxFlex.sm="100%">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Resorts</h2>
      </mat-card-header> 
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <a  routerLink="/rooms">
          <button type="button" mat-raised-button color="primary" >Explore</button>
          </a>
      </mat-card-actions>  
    </mat-card>
    <mat-card class="gym" fxFlex="45%;" fxFlex.sm="100%">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Gyms</h2>
      </mat-card-header> 
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <a  routerLink="/rooms">
          <button type="button" mat-raised-button color="primary" >Explore</button>
          </a>
      </mat-card-actions>  
    </mat-card>

  </div>

  
  
  
</section>


<div class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>Download our App for Android and ios mobile phone.</p>
              <div class="app-logo">
                  <img src="../../assets/images/googleapp.jpg">
                  
              </div>
          </div>
          <div class="footer-col-2">
              <img src="../../assets/images/theahotel_logo.png">
              <p>Our Purpose is to sustainability make the pleasure and 
                  benefits of luxury Accessible to many.</p>
          </div>
          <div class="footer-col-3">
              <h3>Useful Links</h3>
              <ul>
                  <li>Coupons</li>
                  <li>Blog Post</li>
                  <li>Return Policy</li>
                  <li>Join Affiliate</li>
              </ul>
          </div>
          <div class="footer-col-4">
              <h3>Follow us</h3>
              <ul>
                  <li>Meta</li>
                  <li>Twitter</li>
                  <li>Instagram</li>
                  <li>Youtube</li>
              </ul>
          </div>
      </div>
      <hr>
      <p class="copyright">Copyright 2021-Impelsys</p>
  </div>
</div>
